<!DOCTYPE html>
<html lang="en">
<head>
    {% set BASE_URL = constant('BASE_URL') %}
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="revisit-after" content="7 days">
        <meta name="author" content="Rudy Mas">
        <meta name="contact" content="rudy.mas@rudymas.be">
        <meta name="keywords" content="EasyMVC, example, page">
        <meta name="description" content="Example of a TWIG page">
        <meta name="robots" content="index,follow">
        <meta name="rating" content="General">
        <title>{% block title %}EasyMVC Twig{% endblock %}</title>
    {% endblock %}
    {% block jvscript %}
        <script>
            var base_url = "{{ BASE_URL }}";
        </script>
        <script src="{{ BASE_URL }}/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE_URL }}/node_modules/popper.js/dist/popper.min.js"></script>
        <script src="{{ BASE_URL }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block css %}
        <link href="{{ BASE_URL }}/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="{{ BASE_URL }}/public/css/emvc.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div id="container">{% block container %}{% endblock %}</div>
</body>
</html>