{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}Raspberry Pi CMS - Overview{% endblock %}
{% block css %}
    {{ parent() }}
    <link href="{{ BASE_URL }}/node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="{{ BASE_URL }}/public/css/switch.css" rel="stylesheet">
    <link href="{{ BASE_URL }}/public/css/pi_general.css" rel="stylesheet">
{% endblock %}
{% block container %}
    {% include '_header.twig' %}
    {% include '_websites.table.twig' %}
    {% include '_footer.twig' %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalAdd">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Website</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ BASE_URL }}/websites/add" method="post">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="website" class="col-4 col-form-label">URL (core)</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="website" name="website" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-4 col-form-label">Password (FTP)</label>
                            <div class="col-8">
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-4 col-form-label">Confirm Password</label>
                            <div class="col-8">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       required>
                            </div>
                        </div>
                        <div class="form-check row">
                            <div class="switch offset-1">
                            <span class="switch switch-sm">
                                <input type="checkbox" class="form-check-input switch" id="https" name="https">
                                <label for="https" class="form-check-label">HTTPS</label>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalEdit">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Website</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% if showResetModal %}
        <div class="modal" tabindex="-1" role="dialog" id="resetModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Restart Services</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your settings have been saved! To activate the newly configured website, you need to restart
                            the server!</p>
                    </div>
                    <div class="modal-footer">
                        <form>
                            <button type="submit" class="btn btn-primary" formaction="{{ BASE_URL }}/reset"
                                    formmethod="post" formenctype="text/plain">Restart
                            </button>
                            <button type="submit" class="btn btn-danger" formaction="{{ BASE_URL }}/websites"
                                    formmethod="post" formenctype="text/plain">Later
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('document').ready(function () {
                $('#resetModal').modal({show: true});
            });
        </script>
    {% endif %}
{% endblock %}