{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}Raspberry Pi CMS - Overview{% endblock %}
{% block css %}
    {{ parent() }}
    <link href="{{ BASE_URL }}/node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <link href="{{ BASE_URL }}/public/css/pi_general.css" rel="stylesheet">
{% endblock %}
{% block container %}
    {% include '_header.twig' %}
    <br>
    <div class="row">
        <div class="col-6 offset-3">
            <table class="table table-striped table-bordered">
                <caption>List of Websites</caption>
                <thead class="thead-dark">
                <tr>
                    <th style="width: 10%" class="text-center">#</th>
                    <th style="width: 45%">Website</th>
                    <th style="width: 15%" class="text-center">Active</th>
                    <th style="width: 15%" class="text-center">SSL support</th>
                    <th style="width: 15%" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                {% for website in websites %}
                    <tr>
                        <td class="text-center">{{ website.id }}</td>
                        <td>{{ website.name }}</td>
                        <td class="text-center">
                            <span class="emvc-badge-outline-success oi {% if website.active %}oi-check{% else %}oi-x {% endif %}"
                                  title="Check"></span>
                        </td>
                        <td class="text-center">
                            <span class="emvc-badge-outline-danger oi {% if website.https %}oi-check{% else %}oi-x {% endif %}"
                                  title="Check"></span>
                        </td>
                        <td class="text-center">
                            <button>Edit</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include '_footer.twig' %}
{% endblock %}